.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: getColor('bg-primary');
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      padding: 0 80px 0 76px;
    }
    @media screen and (min-width: 1200px) {
      padding: 0;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
  }

  &__join {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('contrast');
    margin-bottom: 20px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: flex-end;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    padding: 0;
    @media screen and (min-width: 1200px) {
      margin-left: 12px;
      align-self: flex-end;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__tg {
    margin-left: 10px;
    display: block;
    height: 24px;
  }

  &__input {
    width: 100%;
    height: 50px;
    margin: 0 auto 20px auto;
    padding: 15px 16px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color $switch;

    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }

    &:focus-within {
      outline: 0;
      border-color: getColor('accent');
      color: getColor('contrast');
    }
  }
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: getColor('contrast');

  display: flex;
  flex-direction: column;

  &__item {
    margin-top: 9px;
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    transition: color $switch;

    &:hover,
    &:focus {
      color: getColor('accent');
    }
  }
}

.footer__second-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;

  @media screen and (min-width: 768px) {
    margin: 0 0 102px auto;
  }
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin: 0 93px 0 70px;
  }
}

.footer__socials-link {
  color: getColor('contrast');
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer__third-column {
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    width: 570px;
    display: flex;
    align-items: flex-start;
    height: 86px;
  }
}
