.hero {
  background-color: getColor('bg-primary');
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 118px 0;
  height: 400px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero-mobile@2x.jpg);
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding: 200px 0;
    background-image: url(../images/hero-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-desktop@2x.jpg);
    }
  }

  &__title {
    margin: 0 auto 30px auto;
    color: getColor('contrast');
    font-weight: 900;

    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 26px;

    @media screen and (min-width: 480px) {
      width: 360px;
    }
    @media screen and (min-width: 1200px) {
      width: 696px;
      height: 120px;
      font-size: 44px;
    }
  }
}
