.mobile-menu__socials {
  display: flex;
  margin: 64px -10px 0 -10px;
  flex-wrap: wrap;
}

.mobile-menu__social-link {
  padding: 0 10px;
  color: getColor('accent');
  font-size: 18px;

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  @media screen and (max-width: 767px) {
    width: 100%;
    position: absolute;
    transform: translateX(-100%);
    background-color: #fff;
    top: 0;
    left: 0;
    padding: 48px 40px;
    transition: transform $switch;
    z-index: 3;

    &--shown {
      transform: translateX(0%);
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    width: 100%;
  }
}

.mobile-menu__open,
.mobile-menu__close {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: inherit;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.mobile-menu__close {
  position: absolute;
  right: 15px;
  top: 10px;
}

.mobile-menu__icon {
  fill: currentColor;
}
